.div1{

    height: 300px;
    width: 300px;
    background-color: beige;
}
.div1:hover{
    width: 600px;
    height: 600px;
    background-color: blueviolet;
    transition: width 10s,   height 10s,transform 5s;
    transform: rotate(180deg) ;


}